# This rule set the HDD spin-down value through hdparm for power management.
# The setting is made to allow spin-down at the minimal rate. For better power management, the value shall be set lower, without going under 200 as too aggressive power management can reduce the lifespan of the hard drive.
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sda", RUN+="/usr/bin/hdparm -B 254 -S 0 /dev/sda"
